
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
:root {
    --main-color: #88c065 ;
    --secondary-color: rgb(214, 214, 214); 
}  
  .signup-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    background-image: url('../../../assets/user/bg.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
  }
  
  .signup-main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .signup-form-container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    margin: 50px;
  }
  
  .signup-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 30px;
  }
  
  .signup-form .form-group {
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;    
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #1a202c;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 90%;  
    background-color: var(--secondary-color);
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-button {
    margin-top: 20px;
    width: 60%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-button.enabled {
    background-color: var(--main-color);
  }
  
  .form-button.disabled {
    background-color: var(--secondary-color);
    cursor: not-allowed;
  }

  .checkbox{
    width: 80%;
    margin: 0 auto;
  }

  input[type="checkbox"] {
    transform: scale(1.7); 
  
  }
  .checkbox {
    font-size: 12px;   
    width: 90%;
    margin-left: 15px;
    display: inline-block; 
    text-align: center; 
  }

  .or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .line {
    flex: 1;
    height: 1px;
    background-color: black;
  }
  
  .or-text {
    margin: 0 10px;
    font-size: 14px;
    color: #333;
  }
  

  .google button{
    width: 80%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #f04b4b;
    border-radius: 4px;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
  }

.google button:hover{
  background-color: #e93030;
  color: white;
}  

  .login-prompt {
    text-align: start;
    font-size: 14px;
    color: #000000;
    margin-top: 20px;
  }
  
  .login-link {
    color: var(--main-color);
    font-weight: 700;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  

  .otp-modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .otp-modal {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    text-align: center;
  }
  
  .otp-title {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--main-color);
  }
  
  .otp-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    
  }
  
  .otp-input {
    width: 80%;
    padding: 10px;
    background-color: var(--secondary-color);
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  .otp-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .otp-cancel-button,
  .otp-verify-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .otp-cancel-button {
    background-color: #ccc;
    color: #333;
  }
  
  .otp-cancel-button:hover {
    background-color: #bbb;
  }
  
  .otp-verify-button {
    background-color: var(--main-color);
    color: #030303;
  }
  
  .otp-verify-button:hover {
    background-color: var(--main-color);
    color: white;
  }
  
  .otp-resend {
    margin-top: 10px;
  }
  
  .resend-timer {
    font-size: 12px;
    color: #666;
  }
  
  .resend-button {
    font-size: 12px;
    color: var(--main-color);
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .resend-button:hover {
    color: var(--main-color);
    font-size: 13px;
  }
  
.error-message{
  font-size: 14px;
  color: red;
  margin-top: 5px;
}